.container_content {
    color: white;
    font-family: var(--main-font);
    display: flex;
}

.container_content__text {

}

.container_content__title {

}

.container_content__titleSpace {

}

.container_content__p {

}