.container_content {
  color: white;
  display: flex;
}

.container_content__text {
  width: 450px;
  height: 382px;
  left: 165px;
  top: 387px;
  margin-top: 55px;
  margin-left: 60px;
}

.container_content__title {
  height: 34px;
  margin-left: 60px;
  margin-top: 50px;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #d0d6f9;
}

.container_content__titleSpace {
  height: 172px;
  font-family: "Bellefair";
  margin-left: 60px;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: 172px;
  color: #ffffff;
}

.container_content__p {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin-left: 66px;
}

.container_content__circle {
  width: 274px;
  height: 274px;
  left: 1001px;
  top: 496px;
  margin-left: 500px;
  margin-top: 200px;
  border-radius: 1px solid white;
  color: #0b0d17;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;

  letter-spacing: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 1px rgba(151, 120, 120, 0.27);
  width: 274px;
  height: 274px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_content__explore a {
  color: black;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  align-items: center; 
}


