.container_crew__infos {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container_crew__info {
  display: block;
  justify-content: left;
  text-align: left;
}

.container_crew__h1 {
  color: white;
  font-family: var(--second-font);
  font-style: normal;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  justify-content: center;
  padding-bottom: 45px;
  margin-top: 26px;
}

.container_crew__span {
  color: gray;
  font-family: var(--second-font);
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.container_crew__person {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 15px;
}

.container_crew__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
}

.container_crew__p {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  text-align: left;
  padding: 27px 0 0px 0;
  width: 575px;
}

.container_crew__carousel {
  display: flex;
  justify-content: left;
  align-items: end;
  position: fixed;
  gap: 24px;
  width: 900px;
  height: 530px;
  position: fixed;
  padding-bottom: 30px;
}

.container_crew__carouselButton {
  background: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: none;
}

.container_crew__carouselButton:hover {
  background: rgb(211, 211, 211);
  cursor: pointer;
}

.container_crew__pilot {
  width: 468.07px;
  height: 500px;
  margin-top: 50px;
  margin-left: 10px;
}

.container_crew__img {
  width: 568.07px;
  height: 712px;
  text-align: center;
}

/* Desktop */
@media screen and (min-width: 1400px) {
  .container_crew__info {
    margin-top: 70px;
  }

  .container_crew__h1 {
    margin-bottom: 154px;
  }

  .container_crew__person {
    margin-bottom: 15px;
  }

  .container_crew__name {
    margin-bottom: 27px;
  }

  .container_crew__carousel {
    display: flex;
    justify-content: left;
    align-items: end;
    position: fixed;
    gap: 24px;
    width: 1560px;
    height: 830px;
    position: fixed;
    padding-bottom: 30px;
  }

  .container_crew__img {
    width: 968.07px;
    height: 912px;
  }

  .container_crew__pilot {
    width: 668.07px;
    height: 800px;
    align-self: flex-end;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
}

/* Mobile */
@media screen and (max-width: 414px) {
}
