* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0B0D17;
    --light-blue: #D0D6F9;
    --text-color: #FFFFFF;
    --main-font: font-family: 'Bellefair', serif;
}