.container_vehicles__vehicle {
  position: absolute;
  padding-right: 800px;
}

.container_crew__span {
  margin-right: 24px;
}

.container_vehicles__infos {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.container_vehicles__info {
  width: 470px;
  height: 303px;
  margin-top: 79px;
  padding-top: 68px;
}

.container_vehicles__buttons {
  margin-top: 137px;
  margin-left: 80px;
}

.container_list__item {
  color: rgb(253, 250, 250);
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  margin-bottom: 32px;
}
.container_list__item:hover,
.container_list__a:hover {
  background: white;
  color: black;
}

.container_vehicles__h2 {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.container_vehicles__h1 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.container_vehicles__p {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.container_vehicles__picture {
  width: 552px;
  height: 858px;
}

.container_crew__img {
  margin-left: 120px;
  width: 465px;
  height: 497px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.container_crew__img-landscape {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1400px) {
  .container_crew__h1 {
    width: 700px;
    margin-bottom: 137px;
  }

  .container_vehicles__buttons {
    margin-top: 300px;
    margin-right: 80px;
  }

  .container_vehicles__info {
    margin-top: 230px;
  }

  .container_vehicles__picture {
    width: 1200px;
    display: flex;
    justify-content: right;
  }

  .container_crew__img {
    width: 615px;
    height: 727px;
    margin-top: 82px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container_crew__h1 {
    display: flex;
    width: 400px;
  }

  .container_vehicles__infos {
    display: inline-block;
  }

  .container_vehicles__buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 600px;
    height: 100px;
  }

  .container_list__items {
    display: flex;
    justify-content: left;
    padding: 5px;
    margin-top: -106px;
  }

  .container_list__item {
    padding: 16px;
    margin-left: 16px;
  }

  .container_vehicles__info {
    margin-left: 40px;
    margin-top: -120px;
    width: 700px;
    display: block;
    text-align: center;
  }

  .container_crew__img {
    display: none;
  }

  .container_crew__img-landscape {
    display: block;
    margin-top: 150px;
  }
}

/* Mobile */
@media screen and (max-width: 414px) {
  .container_vehicles__infos {
    width: 370px;
    height: 100px;
    margin-left: 10px;
    justify-self: end;
  }

  .container_crew__h1 {
    width: 330px;
    height: 100px;
  }

  .container_img__landscape {
    display: flex;
    justify-content: center;
  }

  .container_crew__img-landscape {
    width: 405px;
    height: 200px;
  }

  .container_vehicles__buttons {
    width: 222px;
    height: 20px;
  }

  .container_vehicles__info {
    width: 305px;
    height: 200px;
    margin-top: -6px;
  }

  .container_technology {
    width: 100%;
    height: 1100px;
  }
}
